{% extends 'base.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block body %}
    <div class="flex justify-center">
        <div class="flex-col items-center justify-center font-bold my-8">
            <div class="flex justify-center">
                {{ include('campus/_form.html.twig', {'button_label': 'Update' | trans}) }}
            </div>
            <div class="flex justify-center ml-5">
                {{ include('campus/_delete_form.html.twig') }}

                <div class="ml-5">
                    <a href="{{ path('app_campus_index') }}">
                        <i class="fa-solid fa-list"></i>
                        <br>
                        {{ 'Back' | trans}}
                    </a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
