{% extends 'base.html.twig' %}

{% block title %}New Group{% endblock %}

{% block body %}
    <h1 class="btnblue">{{ 'Create new group' | trans }}</h1>

    {{ include('group/_form.html.twig') }}

    <a href="{{ path('app_group_index') }}">{{ 'Back to list' | trans }}</a>
{% endblock %}
