{% extends 'base.html.twig' %}

{% block title %}New City{% endblock %}

{% block body %}

    {{ include('city/_form.html.twig') }}

<div class="flex items-center justify-evenly text-center my-8 font-bold">

    <a href="{{ path('app_city_index') }}" class="mx-12">
        <i class="fa-solid fa-list"></i>
        <br>
        Back
    </a>
</div>
{% endblock %}
