.checkbox-list {
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.5rem;
    max-height: 200px;
    overflow-y: auto;
}

.checkbox-item {
    margin-bottom: 0.5rem;
}

#backToTop {
    display: none;
}

header {
    height: 80px;
    background-color: whitesmoke;
    z-index: 1000;
}

.nav-logo {
    display: flex;
}

.logo {
    height: 10%;
    width: 10%;
}

.menu a {
    text-decoration: none;
    color: #FFF;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.menu {
    display: none; /* Masquer le menu complet par défaut */
    flex-direction: column; /* Ajustez la direction pour le menu mobile */
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 10vh; /* Ajustez la position verticale pour le menu mobile */
    background-color: black; /* Ajustez la couleur de fond pour le menu mobile */
    width: 25%; /* Ajustez la largeur pour le menu mobile */
    z-index: 99; /* Ajustez le z-index pour empêcher le chevauchement avec le bouton */
    position: fixed;
    right: 0;
    border-radius: 20px;
}

.menu > li {
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    border-bottom: 1px solid #fff; /* Ajoutez une bordure entre les éléments du menu */
    border-radius: 20px;
}

.menu-button-container {
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

#menu-toggle {
    display: none; /* Vous pouvez ajuster la visibilité de ce bouton si nécessaire */
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
}

#menu-toggle:checked ~ .menu {
    display: flex; /* Afficher le menu mobile lorsque #menu-toggle est coché */
}

.card-buttons {
    position: absolute;
    bottom: 0;
}

.perso-teal{
    color : #369C90;
}

.card-title{
    color: #2B3352;
}



.show-button:hover::before,
.cancel-button:hover::before,
.sub-button:hover::before,
.unsub-button:hover::before,
.edit-button:hover::before,
.publish-button:hover::before{
    font-size: 0.75rem;
    position: absolute;
    background-color: #2B3352;
    color: white;
    padding: 10px;
    border-radius: 5px;
    bottom: -105%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
.show-button:hover::before{
    content: "Show event details";
    left: 25%;
}

.cancel-button:hover::before{
    content: "Cancel event";
}

.sub-button:hover::before{
    content: "Subscribe event";
}

.unsub-button:hover::before{
    content: "Unsubscribe the event";
}

.edit-button:hover::before{
    content: "Edit the event";
}

.publish-button:hover::before{
    content: "Publish the event";
}

.show-button:hover::before,
.cancel-button:hover::before,
.sub-button:hover::before,
.unsub-button:hover::before,
.edit-button:hover::before,
.publish-button:hover::before{
    opacity: 1;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: whitesmoke;
    z-index: 1000;

.whitesmoke{
    background-color: whitesmoke;
}



    .bgblue
    {
       background-color: #e5f2ff;
    }

    .btnblue{background-color: #3897c5;}
    .btnblue:hover{background-color:#1E80AD;}

    .bgdarkgrey{background-color: #3f3d56;}


    .darkgrey{color:#2e587a;}
    .white{color:#FFFFFF;}
    .grey{color: #566675;}
    .black{color:#212e40;}

    .btngreen{background-color: #2a915e;}
    .btngreen:hover{background-color: #1a7348;}


    .btnred{background-color: #b00b3b;}
    .btnred:hover{background-color:#8a082f;}

