{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex items-center justify-center mx-auto w-1/4">
        <img src="{{ asset('imgs/logos/robot404.jpg') }}" alt="" class="w-auto">
    </div>
{% endblock %}