{% extends 'base.html.twig' %}

{% block title %}Hello CSVImportController!{% endblock %}

{% block body %}
    <h1>Import CSV</h1>

    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        <label for="csvFile">Sélectionnez un fichier CSV :</label>
        <input type="file" name="csvFile" id="csvFile" accept=".csv">
        <button type="submit">Importer</button>
        <input type="hidden" name="csrf_token" value="{{ csrf_token('csv_import') }}">
    </form>
{% endblock %}
